@CHARSET "UTF-8";


.twtr-hd h3, .twtr-hd h4 {
	color: #ffffff;
}

.twtr-hd h3 {
	border: 0px;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
	text-align: center;
	width: 215px;
}

.award {
	margin-top: -20px;
	margin-left: auto;
    margin-right: auto;
    width: 144px;
}

#novaContent.faux  {
	background: url("/gemini/web/images/faux.png") repeat-y scroll 0 0 #FFFFFF;
}

h1, h2, h3, h4 {
	color: #002E62;
}	

a {
	color: #002E62;
}

a:hover {
	color: #0093CF;
	text-decoration: none;
}

#incubation {
	margin-left: auto;
    margin-right: auto;
    width: 98px;
}

#search #searchBox {
	width:220px;
}

#novaContent li {
	list-style-image: url("/gemini/web/images/bullet.png");
}

.toggle {
	cursor: pointer;
	color: #002E62;
}

.toggle:hover {
	color: #0093CF;
}

#packaging {
	margin: 5px;
    border: 1px solid #DDDDDD;
    border-collapse: separate;
    border-radius: 4px 4px 4px 4px;
    width: 100%;
}

#packaging th {
	font-weight: bold;
	border-top: 1px solid #DDDDDD;
}

#packaging td {
	border-top: 1px solid #DDDDDD;
}

#packaging th, #packaging td {
	padding: 7px 8px;
}

#packaging .packaging-content {
	text-align: center;
}

#packaging .zebra {
	background-color: #E8F6FF;
}